# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.swp

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
*.env

# IDE/Editor Settings
.idea/
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Jupyter config files
*.sqlite

# Other environment-related files
*.log
*.bak

# Python distribution packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl

dataset.zip